/* Home.css */
.home {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.game_img1{
  position: relative;
}

.game_img2{
  position: absolute;
  right: 100px;
}

.game_img1, .game_img2{
  width: 600px;
  border: 1px solid silver;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.older{
  margin-top: 150px;
}

.older p:not(.older_2023 p, .older_p p){
  font-size: 30px;
  font: bold;
}

.older_2023, .older_p{
  border: 1px solid black;
  display: inline-block;
  width: 600px;
  border-radius: 5px;
  padding: 10px;
}

.older_2023{
  position: relative;
  height: 105px;
}

.older_p{
  position: absolute;
  right: 100px;

}

.older_2023 p:first-child, .older_p p:first-child{
  font-size: 20px;
}